/* Utilizado para resetar as configurações do navegador */
*{
    /* Margem fica zero */
    margin: 0;
    /* Padding fica zero */
    padding: 0;
    /* Serve para somar a largura máxima de todos os preenchimentos */
    box-sizing: border-box;
   -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    /* Coloca um tamanho padrão para a fonte */
    font-size: 62.5%;

    --hue: 240;
    /* Variáveis de cores */
    --color-base-white: hsl(0, 0%, 100%);
    --color-base-gray-100: hsl(0, 0%, 96%); 
    --color-base-gray-300: hsl(var(--hue), 6%, 58%);
    --color-base-gray-500: hsl(0, 0%, 24%);
    --color-base-gray-900: hsl(var(--hue), 6%, 13%);
}

html, body, input {
    /* Estilo de fonte */
    font-family: "Mulish", sans-serif;
    
}

body {
    /* Especifica o tamanho da fonte */
    font-size: 1.6rem;
    /* Coloca um fundo com a cor da váriavel ffffff */
    background-color: var(--color-base-white);
    /* Cor da fonte puxando a variável --color-base-gray-900 */
    color: var(--color-base-gray-900);
}

/* Estiliza todos elementos que estão dentro de app */
/* #app > * {
    /* Define uma borda para os elementos 
    border: 1px solid red;
} */

/* Estiliza o id app */
#app {
    /* Coloca o comportamento de grid na caixa */
    display: grid;
    /* Define o tamanho das linhas do grid*/
    grid-template-rows: max-content 1fr max-content;
    /* Coloca uma altura no elemento */
    height: 100vh;
}

/* Estiliza a classe container */
.container{
    /* Coloca um padding com valores de 1.6 em cima e em baixo e 3.2 nas laterais */
    padding: 1.6rem 3.2rem;
    /* Coloca um largura minima */
    width: min(112rem, 100%);
    /* Especifica uma margem 0 em cima e em baixo e automatico nas laterais */
    margin: 0 auto;
}

main {
    /* Coloca um scroll rolante no main */
    overflow-y: scroll;
    /* Coloca uma cor de fundo */
    background-color: var(--color-base-gray-100);
}



header, nav, nav ul{
    /* Comportamento da caixa como flexbox */
    display: flex;
    /* Alinha os elementos na vertival(eixo y) */
    align-items: center;
    /* Coloca um espaçamento entre os elementos do flexbox */
    gap: 7.2rem;
    /* Peso na fonte */
    font-weight: 700;
}


header form {
    flex: 1;
}

nav ul {
    /* Tira o estilo da lista */
    list-style: none;
    /* Tamanho da fonte */
    font-size: 1.8rem;
    /* Cor do texto */
    color: var(--color-base-gray-300);
}

ul li.active{
    /* Cor do texto */
    color: var(--color-base-gray-900);
}

.input-wrapper label {
    /* Largura */
    width: 1px;
    /* Altura */
    height: 1px;
    /* Oculta o elemento da tela */
    overflow: hidden;
    /* Posicionamento absoluto */
    position: absolute;

}

.input-wrapper input {
    /* Largura */
    width: 100%;
    /* Espaçamento interior da caixa */
    padding: 1.6rem;
    /* Cor de fundo */
    background-color: var(--color-base-gray-100);
    /* Retira a borda */
    border: 0;
    /* Arredondamento da borda */
    border-radius: .6rem;
    /* Tamanho da fonte */
    font-size: 1.6rem;
    /* Peso da fonte */
    font-weight: 600;
}

.input-wrapper input::placeholder {
    opacity: 0.56;
    /* Cor da fonte */
    color: var(--color-base-gray-500);
}

.avatar{
    /* Largura */
    width: 4.2rem;
    /* Altura */
    height: 4.2rem;
    /* O conteúdo substituído é dimensionado para manter sua proporção e preencher toda a caixa de conteúdo do elemento */
    object-fit:cover;
    /* Arredondamento da borda */
    border-radius: 50%;
}

/* Galeria */
main h1 {
    /* Espaçamento superior  */
    padding-top: 1.6rem;
    /* Tamanho da fonte */
    font-size: 2.4rem;
}

.gallery {
    /* Epecifica uma margem superior */
    margin-top: 3.2rem;
    /* Comportamento da caxia como grid */
    display: grid;
    /* Faz o grid ter 3 colunas cada uma com 1 fração */
    grid-template-columns: repeat(3, 1fr);
    /* Espaçamento entre os elementos */
    gap: 2.2rem;
}

.item{
    background-color: var(--color-base-white);
    border-radius: .8rem;
    /* Como a imagem está saindo fora da caixa não é possivel o arredondamento da borda e isso significa que é um overflow, então estamos escondendo o overflow para a imagem ficar dentro da caixa, ou seja tudo que sobrar não irá aparecer*/
    overflow: hidden;
}

.item img{
    /* Largura */
    width: 100%; 
    /* Proporção da imagem */
    aspect-ratio: 16/9;
    /* O conteúdo substituído é dimensionado para manter sua proporção e preencher toda a caixa de conteúdo do elemento */
    object-fit: cover;
    /* Deixa a imagem em tom preto e branco */
    filter: grayscale(1);

    /* Coloca uma transição nas propriedades transform e filter que estão no hover
    transition-property: transform, filter;
    /* Tempo que dura a transição */
    /* transition-duration: 1s; */
    /* Tempo que leva para começar ou terminar a transição */
    /* transition-delay: 0; */
    /* Ele muda a velocidade  da transição ao longo da execução da transição*/
    /* transition-timing-function: ease-out; */

    /* Forma abreviada das propriedades de transição  */
    transition: all 200ms ease-out;
}

.item img:hover {
    /* Ao passar o mouse em cima a imagem fica colorida */
    filter: hue-rotate(7deg) contrast(101%) saturate(200%);
    /* Faz ela aumentar com o scale e rotacionar a imagem com rotate */
    transform: scale(1.1) rotate(-2deg)
}

.details {
    /* Espaçamento do interior da caixa */
    padding: 2.2rem;
    background-color: var(--color-base-white);
    z-index: 1;
    position: relative;
}

.details h2{
    /* Tamanho da fonte */
    font-size: 1.8rem;
}

.tags{
    /* Margem superior */
    margin-top: 1.2rem;
}

.tags span{
    /* Espaçamento do interior da caixa */
    padding: .6rem;
    /* Cor de fundo */
    background-color: var(--color-base-gray-100);
    /* Borda */
    border: .4rem;
    /* Espaçamento entre linhas */
    line-height: 0;
    /* Tamanho da imagem */
    font-size: 1.2rem;
    /* Coloca todas as letras em maiúscula */
    text-transform: uppercase;
}


footer p{
    /* Centraliza o texto no meio */
    text-align: center;
    /* Espaçamento da caixa */
    padding: 1.6rem;
    /* Peso da fonte */
    font-weight: 600;
}

header {
    --startY: -100%;
    animation: move .2s;
}

footer {
    --startY: 100%;
    animation: move .2s;
}

.item{
    --delay: .4s;
    animation: appear .4s var(--delay) backwards;
}

@keyframes move {
    from {
        transform: translateY(var(--startY));
    }
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: scale(0.7);
    }

    50% {
        transform: scale(1.2);
    }
}