footer{
  display: flex;
  gap: 24px;
  padding-block: 24px;
  font: 14px/150% var(--font-family)

}

/* Filho número 1, ou seja, no caso seria o filho do footer span número 1 */
footer span:nth-child(1) {
  margin-right: auto;
  

}