* {
    /* Calcúlo do tamanho da caixa sem o border box ele conta o a largura da caixa + o padding adicionado. Padrão é content-box */
    /*  */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, input, button, select, textarea {
    font-family: 'Poppins';
}

body {
    /* Tipo da fonte */
    font-family: 'Poppins', sans-serif;
    /* Cor do fundo */
    background:  #E5E5E5;
}
/* 
- Forma para colocar o preto que parece o header no body
- Para colocar essa segunda cor no body podemos utilizar uma pseudo class chamada ::after (após) ou ::before (antes)
- Ao analisar o código através do DevTols observamos que ele colocou o ::before (Antes do conteúdo) que significa que está sendo criado um elemento html nessa determinada posição.
- Somente com as 4 primeiras propriedades ele ainda não aparece, pois devemos passar todas as propriedades básicas de um elemento, então tenho que adicionar a 5ª propriedade.


*/
body::before {
    /* Ao utilizar essa pseudoclass obrigatoriamente temos que colocar o conteúdo */
    content: '';
    /* Essa é a largura do elemento que será criado */
    width: 100%;
    /* Altura do elemento */
    height: 368px;
    /* Cor de fundo */
    background: #121214;
    /* Comportamento que o elemeto irá ter */
    /* display: block; */
    /* Essa propriedade irá fazer com que ele apareça por cima do conteúdo */
    position: absolute;
    /* Faz com que ele encoste na parte superior do navegador */
    top: 0;
    /* Faz com que ele encoste na parte esquerda do navegador */
    left: 0;
    /* Ao colocar o position absolute faz com que o elemento fique em cima, para que ele fique atrás dos elementos precisamos colocar essa propriedade com -1, pois por padrão o z index dos outros elementos são 0  */
    z-index: -1;
}

/*  */
.page {
    /* Determina uma largura para a classe page  */
    width: 736px;
    /* Centraliza o header no meio da página */
    margin: 0 auto;
}

header {
    /* coloca uma largura no elemento */
    width: 319px;
    /* coloca uma margem superior */
    margin-top: 74px;
}

header h1{
    /* Coloca um tipo de fonte */
    font-family: 'Archivo', sans-serif;
    /* Especifica a grossura da fonte */
    font-weight: bold;
    /*  */
    font-size: 36px;
    line-height: 42px;
    color: white;
    /* Coloca uma margem inferior  */
    margin-bottom: 24px;
}

header p {
    /* Coloca o tipo da fonte para o p que esta dentro do header */
    font-family: 'Poppins';
    /* Determina o tamanho da fonte */
    font-size: 16px;
    /* Espaçamento entre linhas */
    line-height: 26px;
    /* Coloca uma cor na fonte */
    color: #42D3FF;
}

form {
    /* coloca uma margem superior no elemento */
    margin-top: 38px;
    /* Cor de fundo */
    background:#FAFAFC;
    /* deixa a borda arredondada dos 4 lados */
    border-radius: 8px;
    /* coloca uma altura minima */
    min-height: 300px;
/* Agrupando campos com f.... tempo de 4:42 - 8 video */
/* Preenchimento interno no form */
    padding: 64px;
}

fieldset {
    /* Tira as bordas do fieldset */
    border:none;
   

}

/* Existe um bug que o legend não aceita as caracteristicas do display flex Colocando essa classe logo após o fieldset, então essa classe é criada logo após o fieldset e colocado os elementos dentro dessa classe para corrigir o bug   */
.fieldset-warapper{
    /* Ativa o flex box */
    display: flex;
    /* Quando é ativada o flex box os elementos ficam um do lado do outro, com esse comando os elemento voltam a ficar um em baixo do outro. */
    flex-direction: column;
    /* Coloca um espaçamento entre os elementos */
    gap: 24px;
}

fieldset legend {
    /* Tipo de fonte */
    font-family: 'Archivo';
    /* Se ele é negrito, a fonte fica com uma espessura maior ou menor dependendo do valor colocado  */
    font-weight: 600;
    /* Tamanho da fonte */
    font-size: 24px;
    /* Epaçamento de linhas */
    line-height: 34px;
    /* Largura de 100% para que a linha da borda pegue todo o fieldset */
    width: 100%;
    /* A linha que fica em baixo da legenda */
    border-bottom: 1px solid #E6E6F0 ;
    /* Preenchimento interno para que a borda fique mais afastada  */
    padding-bottom: 16px;
}

.input-warapper {
    /* Ativa as propriedades do flexbox */
    display: flex;
    /* Quando é ativada o flex box os elementos ficam um do lado do outro, com esse comando os elemento voltam a ficar um em baixo do outro. */
    flex-direction: column;
}

.input-warapper label {
    /* Tamanho da fonte */
    font-size: 14px;
    /* Espaçamento entre linhas */
    line-height: 24px;
    /* Cor da fonte */
    color: #4E4958;
    /* Colocou um espaçamento entre o input */
    margin-bottom: 8px;
}

.input-warapper label span {
    /* Coloca uma margem esquerda entre o texto e o span */
    margin-left: 12px;
    /* Tamanho da fonte */
    font-size: 12px;
    /* Espaçamento entre linhas */
    line-height: 20px;
    /* Cor do texto */
    color: #C1BCCC;
}
/* Ao passar o mouse com a ferramenta DevTols em cima do elemento span que o contraste não está acessivel para todos, então como solução foi necessário colocar uma cor mais escura ao passar o mouse. */
.input-warapper label span:hover {
    /* Coloca uma cor no texto do span ao passar o mouse em cima */
    color:#a9a7af;
}

.input-warapper input, .input-warapper textarea, .input-warapper select {
    background: #FAFAFC;
    /* Borda do input */
    border: 1px solid #E6E6F0;
    /* Arredonda a borda do input */
    border-radius: 8px;
    /* o height e o padding funciona para criar o tamanho do input */
    height: 56px;
    padding: 0 24px;
    /* Tipo de fonte */
    font-family: 'Poppins';
    /* Tamanho da fonte */
    font-size: 16px;
    /* Espaçamento entre linhas  */
    line-height: 26px;
}

.input-warapper textarea {
    /* Deixa o espaçamento interno com 0 */
    padding: 0;
    /* Coloca uma altura no elemento */
    height: 168px;
}


.input-warapper select {
    /* retira a seta que aparece no select */
    appearance: none;
    /* em alguns navegadores é necessário utilizar os vendor prefixes para garantir que os navegadores utilizem aquela propriedade que ainda está sendo implementada*/
    -webkit-appearance: none;
    /* Coloca a imagem da seta repetindo várias vezes */
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1_54)'%3E%3Cpath d='M8 10L12 14L16 10' stroke='%239C98A6' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_54'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    /* Deixa uma setinha só e tira todas as outras que estão repetindo */
    background-repeat: no-repeat;
    /* Muda a posição da seta colocando ela no lado direito */
    background-position: right 24px top 50%;

}

/* Aplicando estilos aos agora: Aplicando estilos aos agr */