
/* Na responsividade não podemos deixar as medidas fixas e sim utilizar as medidas relativas */

/* 
REM = Root EM 
1rem = 16px (ele será igual o que está setado no navegador)
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}
:root {
    /* Ele pega o pixel do  */
    font-size: 62.5%; /* 10px*/
}



body{
    background: #ECE9FD;
    padding: 6.0rem 2.3rem 6.6rem;
    font-size: 1.6rem;

}

h1{
    font-family: "Epilogue", sans-serif;
    
    font-size: 4.0rem;
    font-weight: 800;
    line-height: 4.8rem;
}